<div class="bg-primary200 df justify-center align-center p-y-24">
        <h4 class="h5-sm mr-24 mr-sm-16">加入會員取得 9 折優惠</h4>
        <button type="button" class="btn btn-dark">馬上註冊</button>
    </div>

    <footer class="p-y-64 bg-Neutral100 p-y-sm-32">
        <div class="container">
            <nav class="df align-center justify-between d-sm-block mb-24">
                <a href="index.html" class="mb-sm-8">
                    <img src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/8719e07a34f05b853e98e1402ed748446fdd8ef3/2025-week1/logo.svg" alt="Logo">
                </a>
                <ul class="df align-center d-sm-block p-x-sm-12">
                    <li class="mr-40 mr-sm-0 mb-sm-4">
                        <a href="products.html" class="p-y-12">商品列表</a>
                    </li>
                    <li>
                        <a href="hero-story.html" class="p-y-12">品牌故事</a>
                    </li>
                </ul>     
            </nav>

            <div class="footer">
                <p class="text-sm text-Neutral600 mb-4">Copyright ©2025 URBNSTYLE</p>
                <p class="text-sm text-Neutral600">All Rights Reserved.</p>
            </div>
        </div>
    </footer>