<nav>
    <ul class="df align-center justify-center">            
        <li class="index-header"><a href="products.html" class="d-none d-sm-block bg-primary200 p-y-12">商品列表</a></li>
        <li class="index-header"><a href="hero-story.html" class="d-none d-sm-block bg-primary100 p-y-12">品牌故事</a></li>
    </ul>
</nav>